<footer class="site-footer">
    <div class='footer-nav'>
        <div class="container">
            <div class='row'>
                <div class='col-sm-3 hidden-xs'>
                    <a href='/' title="Back to the homepage"><img src="/images/logos/mark-angle.png" alt="{{ site.title }}" width="24" height="24"></a>
                </div>
                <div class='col-sm-6'>
                </div>
                <div class="social-icons col-sm-3">
                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                    <a href="https://github.com/"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-extra text-center">
        <p>&copy; {{ site.time|date:'%Y' }} User Onboarding. All rights reserved.</p>
    </div>
</footer>
